body {
  background-color: rgb(5, 11, 198);
}
div.container {
  background-color: white;
  margin: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 20px;
}
div.content {
  background-color: rgb(214, 199, 199);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
#number {
  width: 80%;
  margin: 4px 0px;
}
select {
  width: 80%;
  margin: 4px 0px;
}
h1 {
  align-self: center;
  background-color: red;
}
button {
  background-color: blue;
  padding: 6px;
  border-style: solid;
  color: white;
  border-radius: 12px;
}
